---
layout: default
---
<article class="post">

  <div class="post-content">
    {{ content }}

    <div class="projects row">
    {% include project_tags.html %}
    {% for i in site.data.projects %}
    <div class="project-item col-md-4 col-sm-6 col-xs-12" data-tags='{{ i.tags | jsonify | downcase }}'>
    	<div class="well project-outer">
    		<div class="project-inner">
          <a class="{{ i.fancybox_class }}" rel="{{ i.fancybox_class }}" href="/static/projects/{{ i.cover_image }}" title="{{ i.cover_title }}">
            <div class="project-img bordered" style="background-image: url('/static/projects/{{ i.cover_thumbnail }}');"></div>
          </a>
          <div class="project-images">
            {% for image in i.images %}
            <a class="{{ i.fancybox_class }}" rel="{{ i.fancybox_class }}" href="/static/projects/{{ image.thumbnail }}" title="{{ image.title }}">
              <div class="project-img bordered" style="background-image: url('/static/projects/{{ image.image }}');"></div>
            </a>
            {% endfor %}
          </div>
                {% if i.url %} <a href="{{ i.url }}"> {% endif %}
    			<h3 class="project-headlines">{{ i.name }}</h3>
    			{% if i.url %} </a> {% endif %}
    			<div class="project-content">
    				<div class="tag-holder">
    				{% if i.tags %}
    					{% for j in i.tags %}
    					<span class="label tags tag-filter" data-tag="{{ j | downcase }}">{{ j }}</span>
    					{% endfor %}
    				{% endif %}
    				</div>

    			</div>
    			<div class="project-footer">
    				<a href="#" id="btn-{{ i.fancybox_class }}" class="btn btn-info btn-raised btn-sm project-link">View</a>
            {% if i.source_url %}
    				<a href="{{ i.source_url }}" class="btn btn-info btn-raised btn-sm project-link" style="margin-left: 6px;">Source</a>
    				{% endif %}
    				<span class="project-timeline">{{ i.date }}</span>
    			</div>
    		</div>
    	</div>
        </div>
    {% endfor %}
    </div>
  </div>

</article>
